form {
    border: 1px solid #a79f9f;
    border-radius: 3px;
    padding: 40px;
    box-shadow: 5px 4px 2px #9b9b9bc9;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

